@charset"utf-8";
/*styling the body*/

/*styling the body*/
body{
    
   max-width: 100%;
   max-height:100%;
    font-family: 'Audiowide', cursive;
    font-size:12px;
    background-color: #262626;
        background-image: url(../assets/images/humble.jpg);
    background-repeat: no-repeat;
    background-size: cover;	
}

/*Styling H1 with background image on text */
h1 {
    font-size: 100px;
    text-align: center;
    background: url(../assets/images/multismoke.png);
    -webkit-background-clip: text;
    color: rgba(255,255,255,0.8);
    -webkit-text-fill-color: transparent;
}


/*ensuring the font size for anchor tag for h1 stays at 100px */
h1 a{
    font-size: 100px;
}

/*styling the navbar */
header nav {
    margin:0;
    text-align:center;
    opacity:.8;
    font-size: 12pt;
    text-decoration:none;
    color:#FFF;
 background:#404240; /*grey color*/ /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* styling content table */
table{
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background:transparent;
}

/* adjusting size of top gif to match bottom one */
#DNA {
    width: 600px;
    height: 337px;
}


/* applying styles to all gifs */
img[src$="gif"]{
	border:3px solid #000;
}

/* applying styles to all external links */
a[href^=https]{
    padding-left: 32px;
    padding-right: 60px;
}

/* adjusting image position */
td>img{
    margin-top: -10px;
    margin-bottom: -10px;
}

/* link styling */
a {
    margin: auto;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    color: white;
}


a:link {
    color: white;
}

/*link color on hover */
a:hover {
    color:#f85032;
}

/* footer for all pages */
footer {
    width: 100%; /* Full width */
    height: auto;
   margin: auto;
    opacity: .8;
    overflow: hidden;
    background-color: #000000;
    bottom: 0;
    left: 0;
    
}